/* TABS */
.tabs,
.subtabs{
  display:flex;
  gap:10px;
  margin-bottom:12px;
  flex-wrap:wrap;
}

/* TABLE BUTTON */
.table-btn{
  flex:1;
  background:#e9ecef;
  color:#333;
  padding:10px;
  border-radius:8px;
}

.table-btn.active{
  background:#007bff;
  color:#fff;
}

/* MODE BUTTON */
.mode-btn{
  flex:1;
  background:#d4edda;
  color:#155724;
  padding:10px;
  border-radius:8px;
  font-size:12px;
}

.mode-btn.active{
  background:#28a745;
  color:#fff;
}

/* HIDE */
.hidden{
  display:none;
}
